.movies-card-list {
  padding: 0 10px;
  max-width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #202020;
}
@media screen and (min-width: 768px) {
  .movies-card-list {
    padding: 0 30px;
  }
}
@media screen and (min-width: 1280px) {
  .movies-card-list {
    padding: 0 70px;
  }
}

.movies-card-list__min-height-movies {
  min-height: calc(100vh - 646px);
}
@media screen and (min-width: 768px) {
  .movies-card-list__min-height-movies {
    min-height: calc(100vh - 605px);
  }
}
@media screen and (min-width: 1280px) {
  .movies-card-list__min-height-movies {
    min-height: calc(100vh - 549px);
  }
}

.movies-card-list__min-height-saved-movies {
  padding-bottom: 140px;
  min-height: calc(100vh - 786px);
}
@media screen and (min-width: 768px) {
  .movies-card-list__min-height-saved-movies {
    min-height: calc(100vh - 745px);
  }
}
@media screen and (min-width: 1280px) {
  .movies-card-list__min-height-saved-movies {
    min-height: calc(100vh - 689px);
  }
}

.movies-card-list__items {
  margin: 0;
  padding-bottom: 10px;
  padding-left: 0;
  max-width: 300px;
  display: none;
  grid-template-columns: 100%;
  grid-row-gap: 33px;
  list-style-type: none;
  box-sizing: border-box;
}
@media screen and (min-width: 768px) {
  .movies-card-list__items {
    max-width: 708px;
    gap: 30px 30px;
    grid-template-columns: repeat(2, 1fr);
  }
}
@media screen and (min-width: 1280px) {
  .movies-card-list__items {
    max-width: 1140px;
    gap: 38px 20px;
    grid-template-columns: repeat(4, 1fr);
  }
}

.movies-card-list__items_active {
  display: grid;
}

.movies-card-list__nothing-found {
  display: none;
  margin: 0;
  text-align: center;
  width: 100%;
  height: 20px;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  color: #8B8B8B;
}
@media screen and (min-width: 768px) {
  .movies-card-list__nothing-found {
    font-size: 16px;
  }
}
@media screen and (min-width: 1280px) {
  .movies-card-list__nothing-found {
    font-size: 18px;
  }
}

.movies-card-list__nothing-found_active {
  display: block;
}

.movies-card-list__button {
  display: none;
  margin: 50px 0 80px;
  width: 240px;
  height: 36px;
  border-radius: 5px;
  border: 1px solid rgb(66, 66, 66);
  color: #fff;
  background-color: transparent;
}
@media screen and (min-width: 768px) {
  .movies-card-list__button {
    width: 320px;
  }
}

.movies-card-list__button_active {
  display: block;
}
