.movies-more {
  padding: 50px 40px 80px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  background-color: #202020;
}

.movies-more__button {
  width: 240px;
  height: 36px;
  border-radius: 5px;
  border: 1px solid rgb(66, 66, 66);
  color: #fff;
  background-color: transparent;
}
@media screen and (min-width: 768px) {
  .movies-more__button {
    width: 320px;
  }
}
