.page-not-found {
  padding: 329px 10px 30px;
  min-height: 100vh;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #202020;
}
@media screen and (min-width: 768px) {
  .page-not-found {
    padding: 408px 184px 222px;
  }
}
@media screen and (min-width: 1280px) {
  .page-not-found {
    padding: 246px 440px 60px;
  }
}

.page-not-found__error-number {
  margin: 0 0 10px;
  font-weight: 400;
  font-size: 80px;
  line-height: 97px;
  color: #fff;
}
@media screen and (min-width: 768px) {
  .page-not-found__error-number {
    font-size: 140px;
    line-height: 169px;
  }
}

.page-not-found__error-text {
  margin: 0 0 284px;
  font-weight: 400;
  font-size: 12px;
  line-height: 15px;
  color: #fff;
}
@media screen and (min-width: 768px) {
  .page-not-found__error-text {
    margin-bottom: 184px;
    font-size: 16px;
    line-height: 19px;
  }
}

.page-not-found__back {
  margin: 0;
  text-decoration: none;
  font-weight: 400;
  font-size: 12px;
  line-height: 15px;
  color: #4285F4;
}
@media screen and (min-width: 768px) {
  .page-not-found__back {
    font-size: 14px;
    line-height: 17px;
  }
}
