.search-form {
  padding: 80px 10px 50px;
  max-width: 100%;
  background-color: #202020;
}
@media screen and (min-width: 540px) {
  .search-form {
    padding: 80px 20px 50px;
  }
}
@media screen and (min-width: 768px) {
  .search-form {
    padding: 80px 30px 80px;
  }
}
@media screen and (min-width: 1280px) {
  .search-form {
    padding: 70px 70px 80px;
  }
}

.search-form__form {
  display: flex;
  flex-direction: column;
  align-items: center;
}
@media screen and (min-width: 768px) {
  .search-form__form {
    margin-bottom: 109px;
    flex-direction: row;
  }
}
@media screen and (min-width: 1280px) {
  .search-form__form {
    margin-bottom: 69px;
    flex-direction: row;
  }
}

.search-form__search-field {
  position: relative;
  margin-bottom: 45px;
  width: 100%;
  height: 72px;
  display: flex;
  flex-direction: row;
  align-items: center;
  border-radius: 9px;
  background-color: #2F2F2F;
}
@media screen and (min-width: 768px) {
  .search-form__search-field {
    margin-bottom: 0;
    padding-left: 25px;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
  }
}

.search-form__icon {
  display: none;
  width: 22px;
  height: 22px;
  box-sizing: content-box;
  background-size: 100%;
  background-repeat: no-repeat;
}
@media screen and (min-width: 768px) {
  .search-form__icon {
    display: block;
    flex-shrink: 0;
    margin-right: 4px;
  }
}

.search-form__input {
  padding: 25px 0 25px 19px;
  box-sizing: border-box;
  width: 100%;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  border: none;
  border-radius: 9px;
  outline: none;
  background: transparent;
  color: #8B8B8B;
  transition: background-color .3s;

}
@media screen and (min-width: 768px) {
  .search-form__input {
    padding-left: 12px;
    font-size: 18px;
  }
  .search-form__input:focus {
    /*padding-left: 19px;*/
  }
}

.search-form__input:focus {
  color: #000;
  background-color: #f2f2f2;
}

.search-form__error {
  position: absolute;
  top: 80px;
  left: 19px;
  visibility: hidden;
  width: calc(100% - 38px);
  height: 29px;
  display: block;
  font-size: 12px;
  line-height: 15px;
  color: #EE3465;
}
@media screen and (min-width: 768px) {
  .search-form__error {
    left: 63px;
    width: calc(100% - 162px);
  }
}

.search-form__error_visible {
  visibility: visible;
}

.search-form__button-submit {
  margin-left: 21px;
  margin-right: 19px;
  padding: 0;
  flex-shrink: 0;
  width: 59px;
  height: 34px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 500;
  font-size: 11px;
  line-height: 18px;
  border-radius: 48px;
  border: none;
  color: #fff;
  background-color: #4285F4;
}

.search-form__vertical-line {
  display: none;
}
@media screen and (min-width: 768px) {
  .search-form__vertical-line {
    margin-right: 19px;
    display: block;
    height: 40px;
    width: 0;
    border-right: 1px solid rgb(80, 80, 80);
  }
}
@media screen and (min-width: 1280px) {
  .search-form__vertical-line {

    border-right: 1px solid rgb(66, 66, 66);
  }
}

.search-form__search-filter {
  margin-bottom: 44px;
  display: flex;
  flex-direction: row;
  align-items: center;
}
@media screen and (min-width: 768px) {
  .search-form__search-filter {
    margin-bottom: 0;
    padding-right: 20px;
    height: 72px;
    border-top-right-radius: 9px;
    border-bottom-right-radius: 9px;
    background-color: #2F2F2F;
  }
}

.search-form__search-filter-text {
  margin: 0;
  font-weight: 400;
  font-size: 11px;
  line-height: 18px;
  color: #fff;
}
@media screen and (min-width: 768px) {
  .search-form__search-filter-text {
    font-size: 13px;
  }
}

.search-form__line {
  padding-left: 4px;
  padding-right: 4px;
  max-width: 100%;
  border-bottom: 1px solid rgb(66, 66, 66);
}
@media screen and (min-width: 768px) {
  .search-form__line {
    padding: 0;
  }
}
