.register {
  padding: 56px 0 30px;
  min-height: 100vh;
  box-sizing: border-box;
  background-color: #202020;
}
@media screen and (min-width: 768px) {
  .register {
    padding: 232px 0;
  }
}
@media screen and (min-width: 1280px) {
  .register {
    padding: 70px 0;
  }
}

.register__form {
  margin: 0 auto;
  max-width: 260px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
@media screen and (min-width: 768px) {
  .register__form {
    max-width: 396px;
  }
}

.header__logo {
  margin-bottom: 50px;
  display: block;
  width: 38px;
  height: 38px;
  background-size: 100%;
  background-repeat: no-repeat;
}
@media screen and (min-width: 768px) {
  .header__logo {
    margin-bottom: 40px;
    align-self: flex-start;
  }
}

.register__title {
  margin-bottom: 80px;
  font-weight: 500;
  font-size: 24px;
  line-height: 29px;
  color: #fff;
}
@media screen and (min-width: 768px) {
  .register__title {
    margin-bottom: 40px;
    align-self: flex-start;
  }
}

.register__input-title {
  margin: 0 0 10px;
  width: 100%;
  text-align: left;
  font-weight: 400;
  font-size: 10px;
  line-height: 12px;
  color: #8B8B8B;
}

.register__input {
  margin-bottom: 20px;
  padding-left: 15px;
  box-sizing: border-box;
  width: 100%;
  height: 46px;
  text-align: left;
  font-weight: 400;
  font-size: 13px;
  line-height: 16px;
  border: none;
  outline: none;
  border-radius: 8px;
  color: #fff;
  background-color: #2F2F2F;
}
.register__input:last-of-type {
  margin-bottom: 10px;
}

.register__error {
  margin-bottom: 157px;
  width: 100%;
  text-align: left;
  font-weight: 400;
  font-size: 10px;
  line-height: 12px;
  color: #EE3465;
}
@media screen and (min-width: 768px) {
  .register__error {
    margin-bottom: 69px;
  }
}

.register__button {
  margin-bottom: 14px;
  padding: 0;
  width: 100%;
  height: 45px;
  border-radius: 3px;
  font-weight: 500;
  font-size: 12px;
  line-height: 15px;
  border: none;
  cursor: pointer;
  color: #fff;
  background-color: #4285F4;
}
@media screen and (min-width: 768px) {
  .register__button {
    margin-bottom: 16px;
    font-size: 14px;
    line-height: 17px;
  }
}

.register__registered-text {
  margin: 0;
  font-weight: 400;
  font-size: 12px;
  line-height: 15px;
  color: #8B8B8B;
}
@media screen and (min-width: 768px) {
  .register__registered-text {
    font-size: 14px;
    line-height: 17px;
  }
}

.register__registered-text-link {
  padding-left: 4px;
  text-decoration: none;
  color: #4285F4;
}
